*{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.caintainer{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    padding:10px;
}
.Calculator{
    width: 100%;
    max-width:600px;
    margin:10% 0px 0px 10%;
}
.Calculator h1{
    font-size:3.5rem;
    color: rgb(222, 195, 163);

}
.input-box{
    margin:40px 0px;
    padding:35px;
    border-radius:10px;
    background:rgba(255,255,255,0.3);
    display: flex;
    align-items: center;

}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size:18px;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 17px 30px;
    border-radius: 5px;
    font-weight: 600;
    color: #130e0e;
    cursor:pointer;

}

.input-box input::-webkit-calendar-picker-indicator{
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    width:auto;
    height:auto;
    background-position: calc(100% - 20px);
    background-size: 30px;
    cursor: pointer;

} 
#result{
    font-size:1.5rem;
    height: auto;
    width: auto;
    background-color: rgb(55, 88, 117);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#result span{
    color:#d0d09f;   
}